

@model MyConstruction.Models.ProjectTaskDetail


<div class="modal fade" id="editQuality">

	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Edit Quality</h4>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<form method="post" action="/Supervisor/Quality/Edit">
					<div class="border p-4">
						<input type="hidden" asp-for="ProjectId" />
						<input type="hidden" asp-for="TaskId" />
						<input type="hidden" asp-for="Status" />

						<div class="row mb-3">
							<label>Task</label>
							<input class="form-control" value="@Model.TaskName" disabled />
						</div>

						<div class="row mb-3">
							<label asp-for="Description">Description</label>
							<textarea asp-for="Description" class="form-control">@Model.Description</textarea>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>

						<button type="submit" data-save="modal" class="btn btn-success">Update</button>
					</div>

				</form>


			</div>

		</div>

	</div>
</div>