@model MyConstruction.Models.ViewModels.TeamVM

<div class="modal fade">

	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Delete Team</h4>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<form method="post" action="/Supervisor/Team/Delete">
					<div class="border p-4">

						<input asp-for="Team.ProjectId" type="hidden" />
						<input asp-for="Team.WorkCategoryId" type="hidden" />
						<input asp-for="Team.ContractorId" type="hidden" />
						<div class="row mb-3">
							<label>Work Categories</label>
							<input class="form-control" value="@Model.TeamDetail.WorkCategory" disabled/>
						</div>

						<div class="row mb-3">
							<label>Contactors</label>
							<input class="form-control" value="@Model.TeamDetail.ContractorName" disabled />
						</div>

						<div class="row mb-3">
							<label>Number Of Men</label>
							<input class="form-control" value="@Model.Team.NoOfMen" disabled/>
						</div>

						<div class="row mb-3">
							@if(Model.Team.ImageUrl != null)
							{
								<label>Team Image</label>
								<img src="@Model.Team.ImageUrl" style="width: 200px; height: 200px; object-fit= cover;"/>
							}
							else
							{
								<label>No Image Found.</label>
							}
						</div>

						<button type="submit" data-save="modal" class="btn btn-danger">Are You Sure</button>
						<button data-dismiss="modal" class="btn btn-dark close" type="button">Cancel</button>
					</div>

				</form>


			</div>

		</div>

	</div>
</div>

