
.services_carousel .services_item{
    background-position: center;
    background-size: cover;
}
.row.row-h > * {
    padding-bottom: calc(var(--bs-gutter-x)/ 2);
    padding-top: calc(var(--bs-gutter-x)/ 2);
}

@media (max-width: 766.99px) {
    .d-block-mobile {
        display: block;
    }

    .d-hide-mobile {
        display: none;
    }
}
@media (min-width: 767px) {
    .d-block-laptop {
        display: block;
    }

    .d-hide-laptop {
        display: none;
    }
}
#menu_contact .custom p {
    margin-top: 0;
    margin-bottom: 3px;
}
#menu_contact .custom p.address {
    font-size: 17px;
}