@using MyConstruction.Models;
@model ResendVerificationViewModel
@{
    ViewData["Title"] = "Resend Verification";
}

<div class="row justify-content-center mt-5">
    <form method="post" class="col col-8">

        <h1 class="mb-4">Resend Verification</h1>
        <p>
            Verification email sent. Please verify your account by following the
            link in the email.
        </p>
        <p>
            <a href="/">Home</a>
        </p>

    </form>
</div>