@{
    ViewData["Title"] = "Verification Required";
}





<div class="row justify-content-center mt-5">
    <div class="col col-8">
        <h1 class="mb-4">Verification Required</h1>
        <p>
            You need to verify your account before signing in.
        </p>
        <p>
            Can't find your verification email? We can <a asp-controller="AccountRegistration" asp-action="ResendVerification">send you a new one</a>.
        </p>
    </div>
</div>