<!DOCTYPE html>
<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta property=og:site_name content="MY Construction | Construction Company DHA Lahore">
    <meta name=twitter:image content=/images/dark-logo.png>
    <meta property=og:image content=/images/dark-logo.png>
    <link rel=preconnect href=//fonts.googleapis.com>
    <link rel=preconnect href=//fonts.gstatic.com crossorigin=anonymous>
    <link href="//fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
          rel=stylesheet>
    <meta charset=utf-8>
    <base href="/">
    <meta name=keywords content="construction company,construction lahore,construction dha">
    <meta name=description content="Construction is at the core of what we do at MY Construction .
Extensive experience, strong technical background, and reliability are some of the key elements that describe who we are. Driven by our commitment to excellence, our highly qualified team brings a broad range of construction and renovation projects to life.
we guarantee robust implementation of any construction project,
regardless of scope or scale.">
    <title>MY Construction | Construction Company DHA Lahore</title>
    <link href=/favicon.ico rel="shortcut icon" type=image/vnd.microsoft.icon>
    <link href=/css/bootstrap.min.css rel=stylesheet crossorigin=anonymous>
    <link href=/plugins/system/jce/css/content.css rel=stylesheet>
    <link href="/css/main.css" rel=stylesheet>
    <link href="/css/responsive.css" rel=stylesheet>
    <link href="/css/icofont.min.css" rel=stylesheet>
    <link href="/css/owl.carousel.min.css" rel=stylesheet>
    <link href="/css/owl.theme.default.min.css" rel=stylesheet>
    <link href="/media/mod_languages/css/template.css" rel=stylesheet>
    <link href="/css/responsive/default.css" rel=stylesheet>
    <link rel=stylesheet href="/css/responsive/mobile-s.css">
    <link rel=stylesheet href="/css/responsive/mobile-m.css" >
    <link href="/css/responsive/mobile-l.css" rel=stylesheet>
    <link href="/css/responsive/tablet.css" rel=stylesheet>
    <link href="/css/responsive/laptop.css" rel=stylesheet>
    <link href="/css/responsive/laptop-l.css" rel=stylesheet>
    <link href="/css/responsive/4k.css" rel=stylesheet>
    <script src="/bundle/base.min.js"></script>
    <script>
        jQuery(window).on('load', function () {
            new JCaption('img.caption');
        });
    </script>
    <meta name=twitter:image content=/images/dark-logo.png>
    <meta property=og:type content=article>
    <meta property=og:image content=/images/dark-logo.png>
    <script type=application/ld+json>
        {"context":"https://schema.org","type":"GeneralContractor","name":"MY Construction","image":"https://lh3.googleusercontent.com/-w-qhJsilVz0/AAAAAAAAAAI/AAAAAAAAAAA/c092Vxm9leo/s1280-p-k-no-ns-nd/photo.jpg","id":"","url":"https://myconstruction.pk/","telephone":"03353222777","address":{"type":"PostalAddress","streetAddress":"182 DD CCA Phase 4، DHA، Lahore،, 54810","addressLocality":"Lahore","postalCode":"54810","addressCountry":"PK"},"geo":{"type":"GeoCoordinates","latitude":31.4641888,"longitude":74.386027},"openingHoursSpecification":{"type":"OpeningHoursSpecification","dayOfWeek":["Monday","Tuesday","Wednesday","Thursday","Friday"],"opens":"10:00","closes":"19:00"}}
    </script>
</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
