@using Cofoundry.Domain;

@model UserMicroSummary

@{
    Layout = "/Views/Shared/_LoginHeader.cshtml";

}



<div class="text-center mb-5">
    <h1 class="mb-1">Welcome, @Model.DisplayName</h1>
</div>